<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_crew-carnival._tcp</string>
		<string>_crew-carnival._udp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Krub-Regular.ttf</string>
		<string>GasoekOne-Regular.ttf</string>
		<string>Krub-SemiBold.ttf</string>
		<string>Krub-Bold.ttf</string>
	</array>
</dict>
</plist>
